@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------- Typography -------- */
h2 {
  @apply text-3xl dark:text-gray-200 text-gray-800 leading-none font-semibold;
}
p {
  @apply dark:text-gray-400 text-gray-600;
}
/* -------- // Typography -------- */

/* ------------------------ Button Variants ------------------------ */
/* Button base */
.btn {
  @apply py-2.5 px-4 inline-flex items-center text-sm font-medium rounded-md focus:ring-2 focus:outline-none disabled:opacity-50 disabled:pointer-events-none transition duration-300 ease-in-out;
}
/* Primary Variant */
.btn-primary {
  @apply border border-transparent bg-indigo-500 text-white  focus:ring-indigo-400 hover:bg-indigo-600;
}
/* Secondary Variant */
.btn-secondary {
  @apply border border-transparent bg-indigo-500/10 dark:text-indigo-400 text-indigo-500 focus:ring-2 focus:ring-indigo-500/30 hover:bg-indigo-500/20;
}
/* Outline Variant */
.btn-outline {
  @apply border border-gray-200 text-gray-500 hover:border-indigo-600 hover:text-indigo-400 focus:ring-2 focus:ring-indigo-400/50 focus:border-indigo-600/70 focus:text-indigo-600 dark:border-gray-700 dark:text-gray-300 dark:hover:text-indigo-500 dark:hover:border-indigo-600 dark:focus:text-indigo-500 dark:focus:border-indigo-600;
}
/* Ghost Variant */
.btn-ghost {
  @apply border border-transparent text-indigo-500 focus:ring-2 focus:ring-indigo-500/30 dark:text-indigo-400 hover:bg-indigo-500/10;
}
/* Success Variant */
.btn-success {
  @apply border border-transparent bg-green-500/70 text-white  focus:ring-green-400 hover:bg-green-500/90;
}
/* Info Variant */
.btn-info {
  @apply border border-transparent bg-blue-500/70 text-white  focus:ring-blue-400 hover:bg-blue-500/90;
}
/* Warning Variant */
.btn-warning {
  @apply border border-transparent bg-yellow-500/70 text-white  focus:ring-yellow-400 hover:bg-yellow-500/90;
}
/* Error Variant */
.btn-error {
  @apply border border-transparent bg-red-500/70 text-white  focus:ring-red-400 hover:bg-red-500/90;
}
/* ------------------------ // Button Variants ------------------------ */
/* ------------------------ Badge Variants ------------------------ */
/* Badge Base */
.badge {
  @apply inline-flex items-center rounded-md border px-2.5 py-1 text-xs;
}
/* Base Variant */
.badge-base {
  @apply dark:border-indigo-500/20 border-indigo-200 dark:bg-indigo-500/10 bg-indigo-100 dark:text-indigo-400 text-indigo-800;
}
/* Success Variant */
.badge-success {
  @apply dark:border-green-500/20 border-green-200 dark:bg-green-500/10 bg-green-100 dark:text-green-400 text-green-800;
}
/* Info Variant */
.badge-info {
  @apply dark:border-blue-500/20 border-blue-200 dark:bg-blue-500/10 bg-blue-100 dark:text-blue-400 text-blue-800;
}
/* Warning Variant */
.badge-warning {
  @apply dark:border-yellow-500/20 border-yellow-200 dark:bg-yellow-500/10 bg-yellow-100 dark:text-yellow-400 text-yellow-800;
}
/* Error Variant */
.badge-error {
  @apply dark:border-red-500/20 border-red-200 dark:bg-red-500/10 bg-red-100 dark:text-red-400 text-red-800;
}
/* ------------------------ // Badge Variants ------------------------ */
/* ------------------------ Input Variants ------------------------ */
/* -------- Float Input Variant -------- */
.float-input {
  @apply p-4 block w-full border-gray-200 rounded-lg text-sm placeholder:text-transparent focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none bg-gray-100/70 dark:bg-gray-900/30 dark:border-gray-700 dark:text-gray-200 dark:focus:ring-indigo-500 transition duration-300 ease-in-out
  focus:pt-6
  focus:pb-2
  [&:not(:placeholder-shown)]:pt-6
  [&:not(:placeholder-shown)]:pb-2
  autofill:pt-6
  autofill:pb-2;
}
.float-label {
  @apply absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent  origin-[0_0] dark:text-gray-200 peer-disabled:opacity-50 peer-disabled:pointer-events-none
  peer-focus:scale-90
  peer-focus:translate-x-0.5
  peer-focus:-translate-y-1.5
  peer-focus:text-gray-500 dark:peer-focus:text-gray-500
  peer-[:not(:placeholder-shown)]:scale-90
  peer-[:not(:placeholder-shown)]:translate-x-0.5
  peer-[:not(:placeholder-shown)]:-translate-y-1.5
  peer-[:not(:placeholder-shown)]:text-gray-500 dark:peer-[:not(:placeholder-shown)]:text-gray-500 dark:text-gray-400;
}
/* -------- // Float Input Variant -------- */
/* -------- Defalt Input Variant -------- */
.default-input {
  @apply py-2.5 px-4 block w-full bg-gray-100/70 border-gray-200 rounded-lg text-sm focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-900/30 dark:border-gray-700 dark:text-gray-200 dark:placeholder-gray-500 dark:focus:ring-indigo-500 transition duration-300 ease-in-out;
}
.input-label {
  @apply block text-sm font-medium mb-1.5 text-gray-700 dark:text-gray-100;
}
/* -------- // Defalt Input Variant -------- */
/* -------- Input Variant with Icon -------- */
.icon-input {
  @apply py-2.5 px-4 ps-11 block w-full bg-gray-100/70 border-gray-200 rounded-lg text-sm focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-900/30 dark:border-gray-700 dark:text-gray-200 dark:placeholder-gray-500 dark:focus:ring-indigo-500 transition duration-300 ease-in-out;
}
.icon-input-svg {
  @apply absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none;
}
/* -------- // Input Variant with Icon -------- */
/* -------- Select Input Variant -------- */
.select-input {
  @apply py-2.5 px-4 pe-9 block w-full bg-gray-100/70 border-gray-200 rounded-lg text-sm focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-[#1b2533] dark:border-gray-700 dark:text-gray-400 dark:placeholder-gray-500 dark:focus:ring-indigo-500 transition duration-300 ease-in-out;
}
/* -------- // Select Input Variant -------- */
/* ------------------------ // Input Variants ------------------------ */

/* -------- Radio Input -------- */
.radio-input {
  @apply shrink-0 bg-gray-100/70 border-gray-200 rounded-full text-indigo-600 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-900/30 dark:border-gray-700 dark:checked:bg-indigo-500 dark:checked:border-indigo-500 dark:focus:ring-offset-gray-800 transition duration-300;
}
/* -------- // Radio Input -------- */
/* -------- Checkbox Input -------- */
.checkbox-input {
  @apply shrink-0 bg-gray-100/70 border-gray-200 rounded text-indigo-600 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-900/30 dark:border-gray-700 dark:checked:bg-indigo-500 dark:checked:border-indigo-500 dark:focus:ring-offset-gray-800 transition duration-300 ease-in-out;
}
/* -------- // Checkbox Input -------- */

/* ------------------------ Table ------------------------ */
/* Table Header */
.tbl-header {
  @apply px-6 py-3 text-xs font-medium text-gray-500 uppercase dark:text-gray-400;
}
/* Table Data */
.tbl-data {
  @apply px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200;
}
/* Table Button Base */
.tbl-btn {
  @apply inline-flex items-center text-sm font-semibold rounded-lg border border-transparent focus:outline-none disabled:opacity-50 disabled:pointer-events-none transition duration-300 ease-in-out;
}
/* Button Success */
.success {
  @apply text-green-600 hover:text-green-800 focus:text-green-800 dark:text-green-500 dark:hover:text-green-400 dark:focus:text-green-400;
}
/* Button Info */
.info {
  @apply text-blue-600 hover:text-blue-800 focus:text-blue-800 dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400;
}
/* Button Warning */
.warning {
  @apply text-yellow-600 hover:text-yellow-800 focus:text-yellow-800 dark:text-yellow-500 dark:hover:text-yellow-400 dark:focus:text-yellow-400;
}
/* Button Error */
.error {
  @apply text-red-600 hover:text-red-800 focus:text-red-800 dark:text-red-500 dark:hover:text-red-400 dark:focus:text-red-400;
}
/* ------------------------ // Table ------------------------ */

/* ------------------------ Scrollbar Styles ------------------------ */
.custom-scrollbar {
  overflow-y: auto; /* Added semicolon */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Added semicolon */
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-sm bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-gray-600;
}
.invisible-scrollbar::-webkit-scrollbar {
  width: 1px; /* Added semicolon */
}
.invisible-scrollbar::-webkit-scrollbar-track {
  @apply rounded-sm bg-transparent;
}
.invisible-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-transparent;
}
/* ------------------------ // Scrollbar Styles ------------------------ */
